@charset "UTF-8";
@font-face {
  src: url("../assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-family: "Roboto-Regular";
}

@font-face {
  src: url("../assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-family: "Roboto-Bold";
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
iframe,
ol,
ul,
li,
form,
label,
i,
footer,
header,
menu,
nav,
a,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
video,
canvas,
section,
main object,
address,
code,
em,
small,
strong,
var,
article,
aside,
details,
figure,
summary,
time,
mark,
audio,
center {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

iframe,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main,
picture {
  display: block;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

input {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type="password"] {
  font: 17px Verdana, sans-serif !important;
}

input[type="radio"], input[type="checkbox"] {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

input:-webkit-autofill {
  -webkit-transition: background-color 100000s ease-in-out 0s;
  transition: background-color 100000s ease-in-out 0s;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

input,
button,
select,
textarea {
  display: inline-block;
  padding: 0;
  border: 0;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

strong {
  font-weight: bold;
}

[hidden] {
  display: none !important;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

.d_f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d_i_f {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.f_w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.f_n_w {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.f_r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.f_d_c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.j_c_st {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.j_c_e {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.j_c_c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j_c_b {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.a_i_s {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a_i_e {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.a_i_c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@font-face {
  font-family: 'icomoon';
  src: url("../assets/fonts/icons/icomoon.eot?mbk7ji");
  src: url("../assets/fonts/icons/icomoon.eot?mbk7ji#iefix") format("embedded-opentype"), url("../assets/fonts/icons/icomoon.ttf?mbk7ji") format("truetype"), url("../assets/fonts/icons/icomoon.woff?mbk7ji") format("woff"), url("../assets/fonts/icons/icomoon.svg?mbk7ji#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

.icon::before {
  display: block;
}

.icon-chat:before {
  content: "\e913";
}

.icon-cheveron-outline-left:before {
  content: "\e900";
}

.icon-cheveron-outline-right:before {
  content: "\e901";
}

.icon-send:before {
  content: "\e902";
}

.icon-share-alt:before {
  content: "\e903";
}

.icon-view-show:before {
  content: "\e904";
}

.icon-heart:before {
  content: "\e905";
}

.icon-share-circule:before {
  content: "\e906";
}

.icon-arrow-down:before {
  content: "\e907";
}

.icon-Circle-icons-heart .path1:before {
  content: "\e908";
}

.icon-Circle-icons-heart .path2:before {
  content: "\e909";
  margin-left: -1em;
  opacity: 0.2;
}

.icon-Circle-icons-heart .path3:before {
  content: "\e90a";
  margin-left: -1em;
}

.icon-Instagram-Logowine .path1:before {
  content: "\e90b";
}

.icon-Instagram-Logowine .path2:before {
  content: "\e90c";
  margin-left: -1.5em;
}

.icon-Instagram-Logowine .path3:before {
  content: "\e90d";
  margin-left: -1.5em;
}

.icon-Telegram-Icon .path1:before {
  content: "\e90e";
}

.icon-Telegram-Icon .path2:before {
  content: "\e90f";
  margin-left: -1em;
}

.icon-Telegram-Icon .path3:before {
  content: "\e910";
  margin-left: -1em;
}

.icon-Telegram-Icon .path4:before {
  content: "\e911";
  margin-left: -1em;
}

.icon-facebook:before {
  content: "\e912";
}

.slick-carousel {
  position: relative;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: default;
}

.slick-arrow {
  position: absolute;
  background-color: #AFB6BD;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 999;
}

.slick-arrow:hover {
  background-color: #3C444B;
}

.slick-arrow:before {
  font-size: 11px;
  color: #232C31;
}

.slick-arrow:hover:before {
  color: #AFB6BD;
}

.slick-prev {
  left: 0;
}

.slick-prev:before {
  content: "\e903";
}

.slick-next {
  right: 0;
}

.slick-next:before {
  content: "\e902";
}

.slick-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding: 0 22px;
  margin: 0 auto;
}

@media (max-width: 1279.98px) {
  .container {
    padding: 0 15px;
  }
}

@media (max-width: 767.98px) {
  .container {
    padding: 0 10px;
  }
}

.leftbar-title {
  font: 20px "Roboto-Bold", sans-serif;
  line-height: 23px;
  color: #000000;
}

.main-title {
  font: 24px "Roboto-Bold", sans-serif;
  line-height: 28px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .main-title {
    margin-left: 10px;
    font: 20px "Roboto-Bold", sans-serif;
    line-height: 20px;
  }
}

.d_none {
  display: none;
}

.d_block {
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}

@font-face {
  src: url("../assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-family: "Roboto-Regular";
}

@font-face {
  src: url("../assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-family: "Roboto-Bold";
}

@media (min-width: 768px) {
  app-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
  }
}

.open-menu {
  display: none;
  width: 35px;
  height: 25px;
  position: relative;
}

.open-menu span {
  position: absolute;
  height: 4px;
  background-color: white;
  width: 100%;
  border-radius: 5px;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close-menu {
  display: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: white;
  position: absolute;
  left: 30px;
}

.close-menu span {
  display: none;
}

.close-menu::before {
  content: "🡰";
  font: 25px "Roboto-Bold", sans-serif;
  left: 50%;
  margin: 0 auto;
  color: #258B66;
}

.anim-menu {
  -webkit-transform: translateX(0%) !important;
  transform: translateX(0%) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

@media (max-width: 767.98px) {
  .open-menu span:nth-child(2), .open-menu span:nth-child(3) {
    top: 10px;
  }
  .open-menu span:last-child {
    top: 20px;
  }
  .open-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 999999999;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .close-menu {
    top: -9px;
  }
  .menu-cnt {
    margin: 0;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    background-color: #258B66;
  }
  .menu-cnt ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 10px;
    height: auto;
  }
  .header-menu-block {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.header-nav {
  border: 2px solid #00ff66;
  position: relative;
  background: white;
}

@media (max-width: 767.98px) {
  .header-nav {
    background: rgba(79, 199, 127, 0.65);
    border-bottom: 4px solid #c4c4c4;
  }
}

.header-nav__box {
  padding: 11px 0 27px;
}

@media (max-width: 1279.98px) {
  .header-nav__box {
    padding: 10px 0 12px;
  }
}

@media (max-width: 767.98px) {
  .header-nav__box {
    padding: 5px 0;
  }
}

.header-nav__box--logo {
  max-width: 156px;
  width: 100%;
  height: 63px;
}

@media (max-width: 1279.98px) {
  .header-nav__box--logo {
    max-width: 150px;
    height: 60px;
  }
}

@media (max-width: 1023.98px) {
  .header-nav__box--logo {
    max-width: 118px;
    height: 47px;
  }
}

@media (max-width: 767.98px) {
  .header-nav__box--logo {
    display: none;
  }
}

.header-nav__box--info {
  width: calc(100% - 670px);
}

@media (max-width: 1279.98px) {
  .header-nav__box--info {
    width: calc(100% - 300px);
  }
}

@media (max-width: 1023.98px) {
  .header-nav__box--info {
    width: calc(100% - 165px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767.98px) {
  .header-nav__box--info {
    width: 100%;
  }
}

.header-nav__box--info-delivery {
  width: calc(100% - 172px);
}

@media (max-width: 767.98px) {
  .header-nav__box--info-delivery {
    width: calc(100% - 60px);
  }
}

.header-nav__box--info-delivery p {
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

@media (max-width: 1023.98px) {
  .header-nav__box--info-delivery p {
    font-size: 18px;
    line-height: 18px;
  }
}

@media (max-width: 767.98px) {
  .header-nav__box--info-delivery p {
    font-size: 12px;
    line-height: 12px;
  }
}

.header-nav__box--info-delivery span {
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .header-nav__box--info-delivery span {
    font-size: 9px;
    line-height: 12px;
  }
}

@media (max-width: 767.98px) {
  .header-nav__box--info-delivery {
    font-size: 6px;
  }
}

.header-nav__box--info-media a {
  width: 64px;
  height: 64px;
  margin-left: 29px;
}

@media (max-width: 1279.98px) {
  .header-nav__box--info-media a {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 1023.98px) {
  .header-nav__box--info-media a {
    width: 30px;
    height: 30px;
    margin-left: 15px;
  }
}

.header-content {
  background-color: #2a9f37;
  padding: 0 167px 0 137px;
  z-index: 9;
  position: relative;
  height: 53px;
}

@media (max-width: 1279.98px) {
  .header-content {
    padding: 0 20px;
  }
}

@media (max-width: 1023.98px) {
  .header-content {
    padding: 0 10px;
  }
}

@media (max-width: 767.98px) {
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header-content__box {
  height: 100%;
}

@media (max-width: 767.98px) {
  .header-content__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-content__box--list {
  max-width: 685px;
  width: 100%;
  height: 100%;
  position: relative;
}

@media (max-width: 1023.98px) {
  .header-content__box--list {
    max-width: 550px;
  }
}

.header-content__box--list-catalog {
  position: relative;
  padding: 18px 0 17px;
}

@media (max-width: 1023.98px) {
  .header-content__box--list-catalog {
    padding: 11px 0;
  }
}

@media (max-width: 767.98px) {
  .header-content__box--list-catalog {
    padding: 19px 30px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.header-content__box--list-catalog:hover .header-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-content__box--list-catalog__parts {
  font: 14px "Roboto-Bold", sans-serif;
  color: #ffffff;
}

@media (max-width: 1023.98px) {
  .header-content__box--list-catalog__parts {
    font: 12px "Roboto-Bold", sans-serif;
  }
}

@media (max-width: 767.98px) {
  .header-content__box--list-catalog__parts {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font: 16px "Roboto-Bold", sans-serif;
  }
}

.header-content__box--list-catalog__parts:hover {
  color: #e1a56d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-content__box--list-catalog__parts .icon-arrow-down {
  margin-left: 5px;
  font-size: 5px;
}

@media (max-width: 767.98px) {
  .header-content__box--list-catalog__parts .icon-arrow-down {
    font-size: 8px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

.header-content__box--list-catalog__submenu {
  display: none;
  position: absolute;
  width: 685px;
  top: 53px;
  background-color: #ececec;
  padding: 44px 78px;
}

@media (max-width: 1279.98px) {
  .header-content__box--list-catalog__submenu {
    width: 550px;
    padding: 34px 40px;
  }
}

@media (max-width: 1023.98px) {
  .header-content__box--list-catalog__submenu {
    top: 38px;
    padding: 20px 30px;
  }
}

.header-content__box--list-catalog__submenu--item-block li + li {
  margin-top: 13px;
}

@media (max-width: 1023.98px) {
  .header-content__box--list-catalog__submenu--item-block li + li {
    margin-top: 8px;
  }
}

.header-content__box--list-catalog__submenu--item-block li a {
  font: 14px "Roboto-Bold", sans-serif;
  color: #616161;
}

@media (max-width: 1023.98px) {
  .header-content__box--list-catalog__submenu--item-block li a {
    font: 12px "Roboto-Bold", sans-serif;
  }
}

.header-content__box--list-catalog__submenu--item-block li a:hover {
  color: #2a9f37;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-content__box--list-catalog__submenu:before {
  position: absolute;
  content: "";
  background-color: #ececec;
  border: solid #ececec;
  width: 37px;
  height: 37px;
  top: -6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 1279.98px) {
  .header-content__box--list-catalog__submenu:before {
    display: none;
  }
}

.header-content__box--catalog {
  font: 14px "Roboto-Bold", sans-serif;
  color: #ffffff;
}

.header-content__box--catalog .icon-arrow-down {
  margin-left: 5px;
  font-size: 5px;
}

.header-content__btn button {
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.6);
  border-radius: 11px;
  padding: 6px 25px;
  font: 14px "Roboto-Bold", sans-serif;
  color: #ffffff;
}

@media (max-width: 1023.98px) {
  .header-content__btn button {
    padding: 3px 12px;
    font: 12px "Roboto-Bold", sans-serif;
  }
}

@media (max-width: 767.98px) {
  .header-content__btn button {
    padding: 7px 15px;
    font: 15px "Roboto-Bold", sans-serif;
  }
}

.header-content__mobile {
  height: 100%;
  display: none;
}

.header-content__mobile--logo-img {
  width: 74px;
}

.header-content__mobile--share {
  color: white;
}

.header-content__mobile--share p {
  font: 11px "Roboto-Bold", sans-serif;
}

.header-content__mobile--share i {
  font-size: 18px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.4);
          box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.4);
  margin-left: 10px;
  border-radius: 50%;
}

@media (max-width: 767.98px) {
  .header-content__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 65%;
  }
}

.submenu-first {
  left: -50%;
  -webkit-transform: translateX(-4%);
          transform: translateX(-4%);
}

.submenu-first:before {
  left: 13%;
}

@media (max-width: 1279.98px) {
  .submenu-first {
    left: 2%;
  }
}

.submenu-second {
  left: -35%;
}

.submenu-second:before {
  left: 13%;
}

.submenu-second__list--block-item {
  position: relative;
}

.submenu-second__list--block-item::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background-color: #e1a56d;
  left: -20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  border-radius: 50%;
}

@media (max-width: 1023.98px) {
  .submenu-second__list--block-item::before {
    width: 10px;
    height: 10px;
  }
}

.submenu-third {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.submenu-third::before {
  left: 47%;
}

.submenu-fourth {
  -webkit-transform: translateX(4%);
          transform: translateX(4%);
  right: -50%;
}

.submenu-fourth::before {
  right: 14%;
}

.submenu-five {
  -webkit-transform: translateX(6%);
          transform: translateX(6%);
  right: -50%;
}

.submenu-five::before {
  right: 14%;
}

@font-face {
  src: url("../assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-family: "Roboto-Regular";
}

@font-face {
  src: url("../assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-family: "Roboto-Bold";
}

.mainblog {
  padding-top: 36px;
  position: relative;
}

@media (max-width: 1023.98px) {
  .mainblog {
    padding-top: 20px;
  }
}

@media (max-width: 767.98px) {
  .mainblog {
    padding-top: 0;
  }
}

.mainblog::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #87bd82;
  max-width: 1260px;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

@media (max-width: 767.98px) {
  .mainblog::before {
    display: none;
  }
}

.mainblog-list {
  padding-top: 22px;
}

@media (max-width: 1023.98px) {
  .mainblog-list {
    padding-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.mainblog-list__leftbar {
  width: 188px;
}

@media (max-width: 1023.98px) {
  .mainblog-list__leftbar {
    width: unset;
  }
}

@media (max-width: 767.98px) {
  .mainblog-list__leftbar {
    background-color: #FFCF55;
    margin: 0 -10px;
    padding-top: 10px;
  }
}

.mainblog-list__leftbar h3 {
  margin-bottom: 20px;
  margin-left: 25px;
}

@media (max-width: 1023.98px) {
  .mainblog-list__leftbar--populars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767.98px) {
  .mainblog-list__leftbar--populars {
    overflow: auto;
  }
}

.mainblog-list__leftbar--populars-single {
  margin-bottom: 27px;
  border: 1px solid #87bd82;
  padding: 4px 20px 6px;
  background-color: white;
}

@media (max-width: 1023.98px) {
  .mainblog-list__leftbar--populars-single {
    margin-bottom: 10px;
  }
}

@media (max-width: 767.98px) {
  .mainblog-list__leftbar--populars-single {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.mainblog-list__leftbar--populars-single__info--img {
  width: 145px;
  height: 145px;
}

.mainblog-list__leftbar--populars-single__info--name {
  margin-top: 10px;
}

.mainblog-list__leftbar--populars-single__info--name h5 {
  font-size: 16px;
  line-height: 19px;
  color: #5b76ff;
}

.mainblog-list__leftbar--populars-single__info--name-stars {
  margin: 3px 0 12px;
}

.mainblog-list__leftbar--populars-single__info--name-stars p {
  font-size: 12px;
  color: #000000;
}

.mainblog-list__leftbar--populars-single__info--name-stars__img {
  width: 70px;
  height: 16px;
  margin-left: 4px;
}

.mainblog-list__leftbar--populars-single__info--name-price p {
  font: 16px "Roboto-Bold", sans-serif;
  letter-spacing: -0.03em;
  color: #bd3c37;
}

.mainblog-list__leftbar--populars-single__info--name-price span {
  font: 10px "Roboto-Bold", sans-serif;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #999999;
  margin: 4px 0 0 8px;
}

.mainblog-list__rightbar {
  padding-left: 42px;
  width: 100%;
}

@media (max-width: 1023.98px) {
  .mainblog-list__rightbar {
    padding-left: 0;
  }
}

.mainblog-list__rightbar--promocode {
  width: 100%;
  border-radius: 10px;
  padding: 12px 12px 12px 8px;
  background-color: #00ac64;
}

@media (max-width: 767.98px) {
  .mainblog-list__rightbar--promocode {
    width: 95%;
    margin: 0 auto;
  }
}

.mainblog-list__rightbar--promocode p {
  font: 18px "Roboto-Regular", sans-serif;
  color: #ffffff;
}

@media (max-width: 1023.98px) {
  .mainblog-list__rightbar--promocode p {
    font: 16px "Roboto-Regular", sans-serif;
  }
}

@media (max-width: 767.98px) {
  .mainblog-list__rightbar--promocode p {
    font: 10px "Roboto-Regular", sans-serif;
  }
}

.mainblog-list__rightbar--promocode-btn button {
  background-color: #00ff66;
  border-radius: 12px;
  padding: 6px 17px;
  font: 22px "Roboto-Bold", sans-serif;
  color: #ffffff;
}

@media (max-width: 1023.98px) {
  .mainblog-list__rightbar--promocode-btn button {
    font: 19px "Roboto-Bold", sans-serif;
  }
}

@media (max-width: 767.98px) {
  .mainblog-list__rightbar--promocode-btn button {
    font: 12px "Roboto-Bold", sans-serif;
  }
}

.mainblog-list__email {
  width: 100%;
  margin: 33px 0;
  padding: 12px 50px 12px 32px;
  border: 1px solid #8d1c0d;
  border-radius: 10px;
  background-color: white;
}

@media (max-width: 767.98px) {
  .mainblog-list__email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1279.98px) {
  .mainblog-list__email {
    padding: 10px 10px 10px 18px;
  }
}

@media (max-width: 767.98px) {
  .mainblog-list__email {
    padding: 8px;
  }
}

.mainblog-list__email p {
  font: 16px "Roboto-Bold", sans-serif;
  color: #000000;
}

@media (max-width: 1279.98px) {
  .mainblog-list__email p {
    font: 14px "Roboto-Bold", sans-serif;
    margin-left: 10px;
  }
}

@media (max-width: 767.98px) {
  .mainblog-list__email p {
    margin-bottom: 10px;
    font: 12px "Roboto-Bold", sans-serif;
  }
}

.mainblog-list__email--info {
  max-width: 235px;
  width: 100%;
  padding: 9px;
  background: #fff7f7;
  border: 1px solid #ff8a00;
  border-radius: 12px;
  margin-right: 10px;
}

@media (max-width: 767.98px) {
  .mainblog-list__email--info {
    max-width: 155px;
    padding: 3px;
    margin-right: 7px;
  }
}

.mainblog-list__email--info input {
  width: 200px;
  font-size: 14px;
  background: #fff7f7;
}

@media (max-width: 767.98px) {
  .mainblog-list__email--info input {
    font-size: 9px;
    width: 140px;
  }
}

.mainblog-list__email--btn button {
  padding: 11px 36px;
  background: #f77702;
  border-radius: 12px;
  font: 14px "Roboto-Bold", sans-serif;
  color: #ffffff;
}

@media (max-width: 767.98px) {
  .mainblog-list__email--btn button {
    padding: 9px;
    font: 9px "Roboto-Bold", sans-serif;
  }
}

.news-list {
  margin-top: 22px;
}

@media (max-width: 767.98px) {
  .news-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    margin: 10px -10px 0;
  }
}

.news-list__type {
  margin-bottom: 11px;
}

.news-list__type--form {
  background: #f2f2f2;
  border-radius: 10px;
}

@media (max-width: 767.98px) {
  .news-list__type--form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.news-list__type--form-img img {
  border-radius: 10px;
}

.news-list__type--form-info {
  padding: 12px 10px 11px 25px;
}

@media (max-width: 1279.98px) {
  .news-list__type--form-info {
    padding: 5px 5px 5px 15px;
  }
}

.news-list__type--form-info__text {
  margin-bottom: 11px;
}

@media (max-width: 767.98px) {
  .news-list__type--form-info__text {
    margin-bottom: 5px;
  }
}

.news-list__type--form-info__text h3 {
  font: 24px "Roboto-Bold", sans-serif;
  color: #000000;
  margin-bottom: 22px;
}

@media (max-width: 1279.98px) {
  .news-list__type--form-info__text h3 {
    font: 20px "Roboto-Bold", sans-serif;
  }
}

@media (max-width: 1023.98px) {
  .news-list__type--form-info__text h3 {
    font: 17px "Roboto-Bold", sans-serif;
    margin-bottom: 14px;
  }
}

@media (max-width: 767.98px) {
  .news-list__type--form-info__text h3 {
    font: 12px "Roboto-Bold", sans-serif;
    margin-bottom: 5px;
  }
}

.news-list__type--form-info__text p {
  margin-top: 14px;
  font-size: 14px;
  line-height: 16px;
  color: #474747;
}

@media (max-width: 767.98px) {
  .news-list__type--form-info__text p {
    margin-top: 5px;
    font: 10px "Roboto-Bold", sans-serif;
    line-height: 14px;
  }
}

.news-list__type--form-info__likes--messege {
  margin-right: 21px;
}

@media (max-width: 1279.98px) {
  .news-list__type--form-info__likes--messege {
    margin-right: 10px;
  }
}

@media (max-width: 767.98px) {
  .news-list__type--form-info__likes--messege {
    margin-right: 5px;
  }
}

.news-list__type--form-info__likes--messege span {
  display: block;
  font: 18px "Roboto-Bold", sans-serif;
  color: #acacac;
}

@media (max-width: 1279.98px) {
  .news-list__type--form-info__likes--messege span {
    font: 14px "Roboto-Bold", sans-serif;
  }
}

@media (max-width: 767.98px) {
  .news-list__type--form-info__likes--messege span {
    font: 10px "Roboto-Bold", sans-serif;
  }
}

.news-list__type--form-info__likes--messege i {
  font-size: 21px;
  margin-right: 7px;
}

@media (max-width: 1279.98px) {
  .news-list__type--form-info__likes--messege i {
    font-size: 17px;
  }
}

@media (max-width: 767.98px) {
  .news-list__type--form-info__likes--messege i {
    font-size: 12px;
    margin-right: 5px;
  }
}

.news-list__type--form-info__likes--messege img {
  margin-right: 7px;
  width: 21px;
  height: 21px;
}

@media (max-width: 1279.98px) {
  .news-list__type--form-info__likes--messege img {
    width: 15px;
    height: 15px;
  }
}

.news-btn {
  margin: 45px 0 64px;
}

@media (max-width: 1279.98px) {
  .news-btn {
    margin: 20px 0 30px;
  }
}

.news-btn a {
  max-width: 316px;
  width: 100%;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  padding: 15px 13px 19px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

@media (max-width: 1279.98px) {
  .news-btn a {
    max-width: 250px;
    padding: 10px;
  }
}

.news-btn a i {
  font-size: 23px;
}

.populars-list__type--img {
  width: 280px;
  height: 135px;
}

@media (max-width: 1023.98px) {
  .populars-list__type--img {
    height: auto;
  }
}

.recently-added {
  margin-top: 31px;
}

@media (max-width: 1023.98px) {
  .recently-added {
    margin-top: 15px;
  }
}

@media (max-width: 767.98px) {
  .recently-added {
    display: none;
  }
}

.recently-added__list {
  margin: 22px -19px 0;
}

@media (max-width: 1023.98px) {
  .recently-added__list {
    margin: 18px -15px 0;
  }
}

.recently-added__list--type {
  width: 50%;
  padding: 0 19px 20px;
}

@media (max-width: 1023.98px) {
  .recently-added__list--type {
    padding: 0 15px 10px;
  }
}

.recently-added__list--type-form__img {
  width: 100%;
  height: 274px;
}

@media (max-width: 1023.98px) {
  .recently-added__list--type-form__img {
    height: auto;
  }
}

@media (max-width: 767.98px) {
  .all-news {
    margin: 10px 0;
  }
}

.all-news__list {
  margin: 22px -15px 0;
}

@media (max-width: 767.98px) {
  .all-news__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px 0;
  }
}

.all-news__list--type {
  width: 33.3%;
  padding: 0 15px;
}

@media (max-width: 767.98px) {
  .all-news__list--type {
    width: 100%;
    margin: 5px 0;
    padding: 0;
  }
}

@media (max-width: 767.98px) {
  .all-news__list--type-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
}

.all-news__list--type-form__img {
  width: 100%;
  height: 175px;
}

@media (max-width: 1023.98px) {
  .all-news__list--type-form__img {
    height: auto;
  }
}

@media (max-width: 767.98px) {
  .all-news__list--type-form__img {
    height: auto;
    max-width: 170px;
  }
}

.all-news__list--type-form--likes {
  margin-top: 22px;
}

@media (max-width: 767.98px) {
  .all-news__list--type-form--likes {
    margin-top: 5px;
  }
}

.all-news__list--type-form--likes span {
  font-size: 14px;
  color: #acacac;
}

@media (max-width: 767.98px) {
  .all-news__list--type-form--likes span {
    font-size: 10px;
  }
}

.all-news__button {
  display: none;
}

@media (max-width: 767.98px) {
  .all-news__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767.98px) {
  .all-news__mobile {
    display: none;
  }
}

.footer {
  background-color: #e4e4e4;
}

.footer-block {
  padding: 16px 40px 58px 284px;
}

@media (max-width: 1279.98px) {
  .footer-block {
    padding: 16px 20px 38px 150px;
  }
}

@media (max-width: 1023.98px) {
  .footer-block {
    padding: 10px 0;
  }
}

@media (max-width: 1023.98px) {
  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-block__media > p {
  font: 20px "Roboto-Bold", sans-serif;
  color: #515151;
  margin-bottom: 14px;
}

@media (max-width: 1279.98px) {
  .footer-block__media > p {
    font: 15px "Roboto-Bold", sans-serif;
  }
}

@media (max-width: 767.98px) {
  .footer-block__media > p {
    font: 13px "Roboto-Bold", sans-serif;
    margin-bottom: 10px;
  }
}

.footer-block__media--list-icons img {
  width: 44px;
  height: 44px;
}

@media (max-width: 1279.98px) {
  .footer-block__media--list-icons img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 767.98px) {
  .footer-block__media--list-icons {
    border: 1px solid #31a8dc;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(89, 179, 218, 0.5);
            box-shadow: 0px 0px 3px 1px rgba(89, 179, 218, 0.5);
    border-radius: 10px;
    padding: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
  }
}

.footer-block__media--list-icons + a {
  margin-left: 29px;
}

@media (max-width: 1279.98px) {
  .footer-block__media--list-icons + a {
    margin-left: 20px;
  }
}

@media (max-width: 767.98px) {
  .footer-block__media--list-icons + a {
    margin-left: 0;
    margin-top: 10px;
  }
}

.footer-block__media--list-icons__info {
  display: none;
}

.footer-block__media--list-icons__info p {
  font: 15px "Roboto-Bold", sans-serif;
}

.footer-block__media--list-icons__info--telegram {
  color: #29a0d3;
}

.footer-block__media--list-icons__info--insta {
  color: #f24d58;
}

.footer-block__media--list-icons__info--fb {
  color: #0059A5;
}

.footer-block__media--list-icons__info span {
  font: 11px "Roboto-Bold", sans-serif;
  color: #949494;
}

@media (max-width: 767.98px) {
  .footer-block__media--list-icons__info {
    display: block;
    margin-left: 5px;
  }
}

.footer-block__politic a {
  font-size: 12px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #1e6eb7;
}

.footer-block__politic a + a {
  margin-left: 50px;
}

@media (max-width: 767.98px) {
  .footer-block__politic a + a {
    margin-left: 0;
  }
}

@media (max-width: 767.98px) {
  .footer-block__politic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }
}

.footer-block__mail p {
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.health-leftbar {
  position: relative;
  margin-right: 42px;
}

.health-leftbar::before {
  position: absolute;
  content: "";
  border: 1px solid #cfcfcf;
  height: 1265px;
  right: -25%;
  top: 10px;
}

@media (max-width: 1023.98px) {
  .health-leftbar {
    display: none;
  }
}

.health-leftbar__list--block {
  margin-bottom: 30px;
}

.health-leftbar__list--block-img {
  width: 173px;
}
/*# sourceMappingURL=style.css.map */