@import "../../styles/base/shared";

.open-menu {
   display: none;
   width: 35px;
   height: 25px;
   position: relative;

   @include xs {
      display: flex;
         
      span{
         &:nth-child(1){
            top: 0;
         }
         &:nth-child(2){
            top: 50%;
            transform: translateY(-50%);
         }
         &:nth-child(3){
            bottom: 0;
         }
      }
   }

   span {
      position: absolute;
      height: 4px;
      background-color: white;
      width: 100%;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
   }
}


.close-menu {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   background: white;
   position: absolute;
   left: 15px;

   span {
      display: none;
   }

   &::before {
      content: "🡰";
      font: 25px $Bold;
      left: 50%;
      margin: 0 auto;
      color: #258B66;

   }
}


.header {

   // nav
   &-nav {
      border: 2px solid #00ff66;
      position: relative;
      background: white;

      @include xs {
         background: rgba(79, 199, 127, 0.65);
         border-bottom: 4px solid #c4c4c4;
      }

      &__box {
         padding: 11px 0 27px;

         @include lg {
            padding: 10px 0 12px;
         }

         @include xs {
            padding: 5px 0;
         }

         &--logo {
            max-width: 156px;
            width: 100%;
            height: 63px;

            @include lg {
               max-width: 150px;
               height: 60px;
            }

            @include sm {
               max-width: 118px;
               height: 47px;
            }

            @include xs {
               display: none;
            }
         }

         &--info {
            width: calc(100% - 670px);

            @include lg {
               width: calc(100% - 300px);
            }

            @include sm {
               width: calc(100% - 165px);
               justify-content: space-between;
            }

            @include xs {
               width: 100%;
            }

            &-delivery {
               width: calc(100% - 172px);

               @include xs {
                  width: calc(100% - 60px);
               }

               p {
                  font: 20px $Regular;
                  color: #000000;

                  @include xs {
                     font-size: 12px;
                  }

               }

               span {
                  font: 12px $Regular;
                  color: #000000;

                  @include xs {
                     font-size: 9px;
                  }
               }

               @include xs {
                  font-size: 6px;
               }
            }

            &-media {
               a {
                  width: 64px;
                  height: 64px;
                  margin-left: 29px;

                  @include lg {
                     width: 45px;
                     height: 45px;
                  }

                  @include sm {
                     width: 30px;
                     height: 30px;
                     margin-left: 15px;
                  }
               }
            }
         }
      }
   }

   // content
   &-content {
      background-color: #2a9f37;
      z-index: 9;
      position: relative;

      @include xs {

         &__menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
         }

      }

      

      &__box {

         @include xs {
            position: fixed;
            top: 0;
            left: 0;
            transform: translateX(-100%);
            width: 100%;
            height: 100vh;
            flex-wrap: wrap;
            align-items: flex-start;
            background-color: #2a9f37;
            padding-bottom: 26px;
            overflow-x: hidden;
            overflow-y: auto;
            transition: all .3s;
            z-index: 9999999;

            &.active {
               transform: translateX(0);
               display: block;
            }

            &--mob{
               position: relative;
               padding: 20px 15px;
               display: flex;
               background-color: #00860f;
            }

         }

         

         &--list {
            max-width: 685px;
            width: 100%;
            height: 100%;
            position: relative;

            @include xs {
               max-width: 100%;
               height: auto;
               padding-bottom: 26px;
               flex-direction: column;
            }

            &-catalog {
               position: relative;

               @include xs {
                  width: 100%;
                  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
               }

               &:hover &__submenu {
                  display: flex;
               }

               &:hover &__parts {
                  color: #e1a56d;
                  transition: 0.3s;

                  .icon-arrow-down {
                     transform: rotate(0);
                  }

                  &::before {
                     display: block;

                     @include xs {
                        display: none;
                     }
                  }
               }

               &__parts {
                  font: 14px $Bold;
                  color: #ffffff;
                  padding: 18px 13px;
                  position: relative;

                  &:before {
                     position: absolute;
                     content: "";
                     background-color: #ececec;
                     border: solid #ececec;
                     width: 37px;
                     height: 37px;
                     top: calc(100% - 10px);
                     left: 0;
                     right: 0;
                     margin: auto;
                     transform: rotate(45deg);
                     display: none;
                  }

                  @include sm {
                     font-size: 12px;
                     padding: 18px 8px;
                  }

                  @include xs {
                     justify-content: space-between;
                     font-size: 16px;
                     padding: 18px 11px 18px 45px;
                  }

                  .icon-arrow-down {
                     margin-left: 5px;
                     font-size: 5px;

                     @include xs {
                        font-size: 8px;
                        transform: rotate(-90deg);
                     }
                  }


               }

               &__submenu {
                  display: none;
                  position: absolute;
                  width: 685px;
                  top: 100%;
                  background-color: #ececec;
                  padding: 39px 73px;

                  @include lg {
                     width: 550px;
                     padding: 34px 40px;
                  }

                  @include sm {
                     padding: 20px 30px;
                  }

                  @include xs {
                     width: 100%;
                     position: unset;
                     flex-wrap: wrap;
                  }

                  &--item {

                     width: 25%;
                     padding: 5px;

                     @include xs {
                        width: 50%;
                     }

                     &-block {
                        li {
                           &+li {
                              margin-top: 13px;

                              @include sm {
                                 margin-top: 8px;
                              }
                           }

                           a {
                              font: 14px $Bold;
                              color: #616161;

                              @include sm {
                                 font: 12px $Bold;
                              }

                              &:hover {
                                 color: #2a9f37;
                                 transition: 0.3s;
                              }
                           }
                        }
                     }
                  }
               }
            }
         }

         &--catalog {
            font: 14px $Bold;
            color: #ffffff;

            .icon-arrow-down {
               margin-left: 5px;
               font-size: 5px;
            }
         }
      }

      &__btn {

         @include xs {
            width: 100%;
            text-align: center;
         }

         button {
            border: 1px solid #ffffff;
            box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.6);
            border-radius: 11px;
            padding: 6px 25px;
            font: 14px $Bold;
            color: #ffffff;
         }
      }

      &__mobile {

         &--logo {

            @include xs {
               display: block;

            }

            &-img {
               width: 74px;
            }
         }

         &--share {
            color: white;

            @include xs {
               display: inline-flex;

            }

            p {
               font: 11px $Bold;
            }

            i {
               font-size: 18px;
               box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.4);
               margin-left: 10px;
               border-radius: 50%;
            }
         }


      }
   }
}